<h1>First time users</h1>
<p>
  If this is your first time here, click login on the upper right then click the button
  below. <br><br>

  If this is not your first time, use the Search button on the upper right to search
  for your account id. If you unauthorized the key, you need to login again, 
  click the button below again to save your new key. <br><br>

  Ensure these information are not empty before clicking the button below. These are the 
  only information saved. 
  <ul>
    <li>Account ID: "<%= params[:account_id] %>"</li>
    <li>Public key: "<%= params[:public_key] %>"</li>
    <li>All keys: "<%= params[:all_keys] %>"</li>
  </ul>
</p>

<%= form_with model: @user, local: true do |f| %>
  <%= f.hidden_field :account_id , value: params[:account_id] %>
  <%= f.hidden_field :public_key, value: params[:public_key] %>
  <%= f.hidden_field :all_keys, value: params[:all_keys] %>
  <%= f.submit "(TEMPORARILY A MUST) Save key to database", class: "btn btn-primary" %>
<% end %>