<% define_constants %>

<div class="row">
  <div class="col text-center">
    <h1>
      <%= gravatar_for @user %>
      <%= @user.account_id %>
    </h1>
  </div>
</div>

<div class="d-flex flex-row gap-3">
  <%# <div class="d-flex flex-column"> %>
    <% (get_tokens @user).each do |t| %>
      <% @metadata = t["metadata"] %>

      <div class="card" style="width: 18rem;">
        <%= image_tag(@metadata["media"]) %>
        <div class="card-body">
          <h4 class="card-title"><%= @metadata["title"] %></h4>
          <p class="card-text"><%= truncate(@metadata["description"], :length => 100) %></p>
        </div>
      </div>

    <% end %>
  <%# </div> %>
</div>
